---
- name: Include OS-specific variables.
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_facts.os_family }}-{{ ansible_facts.distribution_major_version }}.yml"
    - "{{ ansible_facts.os_family }}.yml"

- name: gather required munin packages
  set_fact:
    munin_required_packages: "{{ munin_packages | default(munin_default_packages) }}"

# See: https://github.com/geerlingguy/ansible-role-munin/issues/17
- block:

    - name: Ensure dnf-plugins are installed on Rocky/AlmaLinux.
      dnf:
        name: dnf-plugins-core
        state: present

    - name: Enable crb for Rocky/AlmaLinux.
      shell: |
        dnf config-manager --set-enabled crb
      changed_when: false

  when:
    - ansible_facts.os_family == 'RedHat'
    - ansible_facts.distribution_major_version | int >= 8

- name: Install required packages for munin.
  package:
    name: "{{ munin_required_packages }}"
    state: present

- name: Copy munin configurations.
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: 0644
  with_items:
    - src: munin.conf.j2
      dest: /etc/munin/munin.conf
    - src: hosts.conf.j2
      dest: "{{ munin_conf_d_directory }}/hosts.conf"

- name: Ensure munin local.conf is removed (if configured).
  file:
    path: "{{ munin_conf_d_directory }}/local.conf"
    state: absent
  when: munin_local_conf_remove

- name: Create munin user via htpasswd.
  htpasswd:
    create: true
    name: "{{ munin_admin_user }}"
    password: "{{ munin_admin_password }}"
    path: /etc/munin/munin-htpasswd
    state: present

- name: Enable or disable the munin cron job.
  lineinfile:
    dest: /etc/cron.d/munin
    state: "{{ munin_cron_job }}"
    regexp: "^\\*/5 \\* \\* \\* \\*"
    line: "*/5 * * * *     munin if [ -x /usr/bin/munin-cron ]; then /usr/bin/munin-cron; fi"
    create: true
    mode: 0644
