# Munin hosts.
{% for host in munin_hosts %}
[{{ host.name }}]
    address {{ host.address }}
{% if host.extra is defined %}
{% for extra in host.extra %}
    {{ extra }}
{% endfor %}
{% endif %}

{% endfor %}
